In [ ]:
#this file sorts the dataset by patient identifier

In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv(
     '../FormattedData/6.csv',
)

C:\Users\Adam Lam\AppData\Roaming\Python\Python38\site-packages\IPython\core\interactiveshell.py:3169: DtypeWarning: Columns (3,10,11,12,14,16,17,18,19,20,21,22,23,24,25) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
df1

,Unnamed: 0,pt_identifier,Date,Time,BP1,BP2,Pulse,Temp,RR,O2Sat,...,Diag_Code,Diag_desc,Diag_prefix,Diag_type,Lactate_Value,Lactate_High_Low,Lactate_Ref_Range,WBC_Value,WBC_High_Low,WBC_Ref_Range
0,0,H1000412,31/12/20,2359.0,116.0,84.0,88.0,36.9,17.0,97.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,H1000412,01/01/21,351.0,126.0,64.0,69.0,37.0,10.0,94.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,H1002797,08/12/20,1725.0,147.0,91.0,63.0,NaN,18.0,97.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,H1002797,11/01/21,1635.0,140.0,82.0,57.0,36.8,18.0,98.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,H1002797,11/01/21,1851.0,137.0,81.0,58.0,36.8,17.0,97.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
312831,312831,H2163401,02/11/20,0630,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,< 0.2,VL,4.0-11.0
312832,312832,H2379968,13/02/21,1033,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,< 0.2,VL,4.0-11.0
312833,312833,H2379968,14/02/21,0548,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,< 0.2,VL,4.0-11.0
312834,312834,H2379968,14/02/21,0612,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,< 0.2,VL,4.0-11.0
312835,312835,H2379968,12/02/21,2255,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,< 0.2,VL,4.0-11.0

In [4]:
del df1["Unnamed: 0"]

In [5]:
df1

,pt_identifier,Date,Time,BP1,BP2,Pulse,Temp,RR,O2Sat,Admission_Date,...,Diag_Code,Diag_desc,Diag_prefix,Diag_type,Lactate_Value,Lactate_High_Low,Lactate_Ref_Range,WBC_Value,WBC_High_Low,WBC_Ref_Range
0,H1000412,31/12/20,2359.0,116.0,84.0,88.0,36.9,17.0,97.0,2020-12-31 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,H1000412,01/01/21,351.0,126.0,64.0,69.0,37.0,10.0,94.0,2020-12-31 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,H1002797,08/12/20,1725.0,147.0,91.0,63.0,NaN,18.0,97.0,2020-11-18 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,H1002797,11/01/21,1635.0,140.0,82.0,57.0,36.8,18.0,98.0,2020-11-18 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,H1002797,11/01/21,1851.0,137.0,81.0,58.0,36.8,17.0,97.0,2020-11-18 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
312831,H2163401,02/11/20,0630,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,< 0.2,VL,4.0-11.0
312832,H2379968,13/02/21,1033,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,< 0.2,VL,4.0-11.0
312833,H2379968,14/02/21,0548,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,< 0.2,VL,4.0-11.0
312834,H2379968,14/02/21,0612,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,< 0.2,VL,4.0-11.0
312835,H2379968,12/02/21,2255,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,< 0.2,VL,4.0-11.0

In [6]:
df1.sort_values(by=["pt_identifier"], inplace = True)

In [7]:
df1

,pt_identifier,Date,Time,BP1,BP2,Pulse,Temp,RR,O2Sat,Admission_Date,...,Diag_Code,Diag_desc,Diag_prefix,Diag_type,Lactate_Value,Lactate_High_Low,Lactate_Ref_Range,WBC_Value,WBC_High_Low,WBC_Ref_Range
0,H1000412,31/12/20,2359.0,116.0,84.0,88.0,36.9,17.0,97.0,2020-12-31 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
258929,H1000412,31/12/20,2238.0,138.0,76.0,98.0,36.8,16.0,98.0,2020-12-31 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
302635,H1000412,01/01/21,0637,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.1,H,4.0-11.0
300943,H1000412,31/12/20,1531,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.4,NaN,4.0-11.0
304558,H1000412,31/12/20,2255,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,H,4.0-11.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
254519,Z991743,04/02/21,2000.0,152.0,65.0,63.0,36.6,18.0,94.0,2021-02-01 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
254520,Z991743,02/02/21,2000.0,152.0,77.0,67.0,36.6,16.0,93.0,2021-02-01 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299254,Z991743,01/02/21,1850,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.7,NaN,4.0-11.0
307871,Z991743,03/02/21,0729,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.1,H,4.0-11.0
306549,Z992617,13/03/21,0800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.1,H,4.0-11.0

In [8]:
df1.reset_index(inplace = True, drop = True)

In [9]:
df1

,pt_identifier,Date,Time,BP1,BP2,Pulse,Temp,RR,O2Sat,Admission_Date,...,Diag_Code,Diag_desc,Diag_prefix,Diag_type,Lactate_Value,Lactate_High_Low,Lactate_Ref_Range,WBC_Value,WBC_High_Low,WBC_Ref_Range
0,H1000412,31/12/20,2359.0,116.0,84.0,88.0,36.9,17.0,97.0,2020-12-31 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,H1000412,31/12/20,2238.0,138.0,76.0,98.0,36.8,16.0,98.0,2020-12-31 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,H1000412,01/01/21,0637,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.1,H,4.0-11.0
3,H1000412,31/12/20,1531,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.4,NaN,4.0-11.0
4,H1000412,31/12/20,2255,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,H,4.0-11.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
312831,Z991743,04/02/21,2000.0,152.0,65.0,63.0,36.6,18.0,94.0,2021-02-01 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
312832,Z991743,02/02/21,2000.0,152.0,77.0,67.0,36.6,16.0,93.0,2021-02-01 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
312833,Z991743,01/02/21,1850,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.7,NaN,4.0-11.0
312834,Z991743,03/02/21,0729,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.1,H,4.0-11.0
312835,Z992617,13/03/21,0800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.1,H,4.0-11.0

In [10]:
df1.to_csv('7.csv')#vitals_info_lactate_WBC_sorted_pt