In [1]:
import pandas as pd
import numpy as np
import math

In [2]:
df1 = pd.read_csv(
     '../FormattedData/vitals_info_lactate.csv',
)

C:\Users\Adam Lam\AppData\Roaming\Python\Python38\site-packages\IPython\core\interactiveshell.py:3169: DtypeWarning: Columns (3,18,20,21,22) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
df1

,Unnamed: 0,pt_identifier,Date,Time,BP1,BP2,Pulse,Temp,RR,O2Sat,...,Age_Number,Gender,Weight,Diag_Code,Diag_desc,Diag_prefix,Diag_type,Lactate_Value,Lactate_High_Low,Lactate_Ref_Range
0,0,H1000412,31/12/20,2359.0,116.0,84.0,88.0,36.9,17.0,97.0,...,81.0,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,H1000412,01/01/21,351.0,126.0,64.0,69.0,37.0,10.0,94.0,...,81.0,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,H1002797,08/12/20,1725.0,147.0,91.0,63.0,NaN,18.0,97.0,...,66.0,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,H1002797,11/01/21,1635.0,140.0,82.0,57.0,36.8,18.0,98.0,...,66.0,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,H1002797,11/01/21,1851.0,137.0,81.0,58.0,36.8,17.0,97.0,...,66.0,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279034,279034,Z1163454,27/03/21,1630,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,> 10.0,H,0.5-2.2
279035,279035,Z358846,31/01/21,1546,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,> 10.0,H,0.5-2.2
279036,279036,Z682423,14/11/20,1415,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,> 10.0,H,0.5-2.2
279037,279037,H2102217,15/03/21,2010,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,> 30,H,0.7-2.4
279038,279038,H2102217,15/03/21,2217,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,> 30,H,0.7-2.4

In [4]:
df2 = pd.read_excel(
     '../MF_lact_WC_Diag.xlsx',
     engine='openpyxl', sheet_name = 'WC'
)

In [5]:
df2

,pt_identifier,date,time,status,test_desc,result,L_H_VL_VH,ref_range,ref_range2,test
0,H1755605,14/11/20,2032,COMP,LEUKOCYTE COUNT,0.2,VL,4.0-11.0,X10E9/L,CLKC
1,H1755605,16/11/20,0706,COMP,LEUKOCYTE COUNT,0.2,VL,4.0-11.0,X10E9/L,CLKC
2,H1755605,16/11/20,1502,COMP,LEUKOCYTE COUNT,0.2,VL,4.0-11.0,X10E9/L,CLKC
3,H1755605,17/11/20,0610,COMP,LEUKOCYTE COUNT,0.2,VL,4.0-11.0,X10E9/L,CLKC
4,H2163401,12/01/21,2100,COMP,LEUKOCYTE COUNT,0.2,VL,4.0-11.0,X10E9/L,CLKC
...,...,...,...,...,...,...,...,...,...,...
33792,H2163401,02/11/20,0630,COMP,LEUKOCYTE COUNT,< 0.2,VL,4.0-11.0,X10E9/L,CLKC
33793,H2379968,13/02/21,1033,COMP,LEUKOCYTE COUNT,< 0.2,VL,4.0-11.0,X10E9/L,CLKC
33794,H2379968,14/02/21,0548,COMP,LEUKOCYTE COUNT,< 0.2,VL,4.0-11.0,X10E9/L,CLKC
33795,H2379968,14/02/21,0612,COMP,LEUKOCYTE COUNT,< 0.2,VL,4.0-11.0,X10E9/L,CLKC
33796,H2379968,12/02/21,2255,COMP,LEUKOCYTE COUNT,< 0.2,VL,4.0-11.0,X10E9/L,CLKC

In [6]:
del df2["status"]
del df2["test_desc"]
del df2["test"]
del df2["ref_range2"]

In [7]:
df2

      pt_identifier      date  time result L_H_VL_VH ref_range
0          H1755605  14/11/20  2032    0.2        VL  4.0-11.0
1          H1755605  16/11/20  0706    0.2        VL  4.0-11.0
2          H1755605  16/11/20  1502    0.2        VL  4.0-11.0
3          H1755605  17/11/20  0610    0.2        VL  4.0-11.0
4          H2163401  12/01/21  2100    0.2        VL  4.0-11.0
...             ...       ...   ...    ...       ...       ...
33792      H2163401  02/11/20  0630  < 0.2        VL  4.0-11.0
33793      H2379968  13/02/21  1033  < 0.2        VL  4.0-11.0
33794      H2379968  14/02/21  0548  < 0.2        VL  4.0-11.0
33795      H2379968  14/02/21  0612  < 0.2        VL  4.0-11.0
33796      H2379968  12/02/21  2255  < 0.2        VL  4.0-11.0

[33797 rows x 6 columns]

In [8]:
df2 = df2.rename(columns = {"date": "Date", "time": "Time"})

In [9]:
df2 = df2.rename(columns = {"result":"WBC_Value", "L_H_VL_VH":"WBC_High_Low", "ref_range": "WBC_Ref_Range"})

In [10]:
df2

      pt_identifier      Date  Time WBC_Value WBC_High_Low WBC_Ref_Range
0          H1755605  14/11/20  2032       0.2           VL      4.0-11.0
1          H1755605  16/11/20  0706       0.2           VL      4.0-11.0
2          H1755605  16/11/20  1502       0.2           VL      4.0-11.0
3          H1755605  17/11/20  0610       0.2           VL      4.0-11.0
4          H2163401  12/01/21  2100       0.2           VL      4.0-11.0
...             ...       ...   ...       ...          ...           ...
33792      H2163401  02/11/20  0630     < 0.2           VL      4.0-11.0
33793      H2379968  13/02/21  1033     < 0.2           VL      4.0-11.0
33794      H2379968  14/02/21  0548     < 0.2           VL      4.0-11.0
33795      H2379968  14/02/21  0612     < 0.2           VL      4.0-11.0
33796      H2379968  12/02/21  2255     < 0.2           VL      4.0-11.0

[33797 rows x 6 columns]

In [11]:
df1["WBC_Value"] = np.nan
df1["WBC_High_Low"] = np.nan
df1["WBC_Ref_Range"] = np.nan

In [12]:
df1

,Unnamed: 0,pt_identifier,Date,Time,BP1,BP2,Pulse,Temp,RR,O2Sat,...,Diag_Code,Diag_desc,Diag_prefix,Diag_type,Lactate_Value,Lactate_High_Low,Lactate_Ref_Range,WBC_Value,WBC_High_Low,WBC_Ref_Range
0,0,H1000412,31/12/20,2359.0,116.0,84.0,88.0,36.9,17.0,97.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,H1000412,01/01/21,351.0,126.0,64.0,69.0,37.0,10.0,94.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,H1002797,08/12/20,1725.0,147.0,91.0,63.0,NaN,18.0,97.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,H1002797,11/01/21,1635.0,140.0,82.0,57.0,36.8,18.0,98.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,H1002797,11/01/21,1851.0,137.0,81.0,58.0,36.8,17.0,97.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279034,279034,Z1163454,27/03/21,1630,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,> 10.0,H,0.5-2.2,NaN,NaN,NaN
279035,279035,Z358846,31/01/21,1546,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,> 10.0,H,0.5-2.2,NaN,NaN,NaN
279036,279036,Z682423,14/11/20,1415,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,> 10.0,H,0.5-2.2,NaN,NaN,NaN
279037,279037,H2102217,15/03/21,2010,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,> 30,H,0.7-2.4,NaN,NaN,NaN
279038,279038,H2102217,15/03/21,2217,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,> 30,H,0.7-2.4,NaN,NaN,NaN

In [13]:
del df1["Unnamed: 0"]

In [14]:
df1

,pt_identifier,Date,Time,BP1,BP2,Pulse,Temp,RR,O2Sat,Admission_Date,...,Diag_Code,Diag_desc,Diag_prefix,Diag_type,Lactate_Value,Lactate_High_Low,Lactate_Ref_Range,WBC_Value,WBC_High_Low,WBC_Ref_Range
0,H1000412,31/12/20,2359.0,116.0,84.0,88.0,36.9,17.0,97.0,2020-12-31 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,H1000412,01/01/21,351.0,126.0,64.0,69.0,37.0,10.0,94.0,2020-12-31 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,H1002797,08/12/20,1725.0,147.0,91.0,63.0,NaN,18.0,97.0,2020-11-18 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,H1002797,11/01/21,1635.0,140.0,82.0,57.0,36.8,18.0,98.0,2020-11-18 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,H1002797,11/01/21,1851.0,137.0,81.0,58.0,36.8,17.0,97.0,2020-11-18 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279034,Z1163454,27/03/21,1630,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,> 10.0,H,0.5-2.2,NaN,NaN,NaN
279035,Z358846,31/01/21,1546,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,> 10.0,H,0.5-2.2,NaN,NaN,NaN
279036,Z682423,14/11/20,1415,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,> 10.0,H,0.5-2.2,NaN,NaN,NaN
279037,H2102217,15/03/21,2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,> 30,H,0.7-2.4,NaN,NaN,NaN
279038,H2102217,15/03/21,2217,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,> 30,H,0.7-2.4,NaN,NaN,NaN

In [15]:
df1_df2 = df1.append(df2, sort=False, ignore_index=True)

In [16]:
df1_df2

,pt_identifier,Date,Time,BP1,BP2,Pulse,Temp,RR,O2Sat,Admission_Date,...,Diag_Code,Diag_desc,Diag_prefix,Diag_type,Lactate_Value,Lactate_High_Low,Lactate_Ref_Range,WBC_Value,WBC_High_Low,WBC_Ref_Range
0,H1000412,31/12/20,2359.0,116.0,84.0,88.0,36.9,17.0,97.0,2020-12-31 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,H1000412,01/01/21,351.0,126.0,64.0,69.0,37.0,10.0,94.0,2020-12-31 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,H1002797,08/12/20,1725.0,147.0,91.0,63.0,NaN,18.0,97.0,2020-11-18 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,H1002797,11/01/21,1635.0,140.0,82.0,57.0,36.8,18.0,98.0,2020-11-18 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,H1002797,11/01/21,1851.0,137.0,81.0,58.0,36.8,17.0,97.0,2020-11-18 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
312831,H2163401,02/11/20,0630,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,< 0.2,VL,4.0-11.0
312832,H2379968,13/02/21,1033,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,< 0.2,VL,4.0-11.0
312833,H2379968,14/02/21,0548,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,< 0.2,VL,4.0-11.0
312834,H2379968,14/02/21,0612,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,< 0.2,VL,4.0-11.0
312835,H2379968,12/02/21,2255,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,< 0.2,VL,4.0-11.0

In [17]:
df1_df2.to_csv('vitals_info_lactate_WBC.csv')