In [1]:
import pandas as pd
import numpy as np
import math

In [2]:
df1 = pd.read_csv(
     '../FormattedData/all_vitals_info_diag.csv',
)

C:\Users\Adam Lam\AppData\Roaming\Python\Python38\site-packages\IPython\core\interactiveshell.py:3169: DtypeWarning: Columns (18) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
df1

,Unnamed: 0,pt_identifier,Date,Time,BP1,BP2,Pulse,Temp,RR,O2Sat,Admission_Date,Discharge_Date,Age_Code,Age_Number,Gender,Weight,Diag_Code,Diag_desc,Diag_prefix,Diag_type
0,0,H1000412,31/12/20,2359.0,116.0,84.0,88.0,36.9,17.0,97.0,2020-12-31 00:00:00,2021-01-01 00:00:00,Y,81.0,F,NaN,NaN,NaN,NaN,NaN
1,1,H1000412,01/01/21,351.0,126.0,64.0,69.0,37.0,10.0,94.0,2020-12-31 00:00:00,2021-01-01 00:00:00,Y,81.0,F,NaN,NaN,NaN,NaN,NaN
2,2,H1002797,08/12/20,1725.0,147.0,91.0,63.0,NaN,18.0,97.0,2020-11-18 00:00:00,2020-11-20 00:00:00,Y,66.0,F,NaN,NaN,NaN,NaN,NaN
3,3,H1002797,11/01/21,1635.0,140.0,82.0,57.0,36.8,18.0,98.0,2020-11-18 00:00:00,2020-11-20 00:00:00,Y,66.0,F,NaN,NaN,NaN,NaN,NaN
4,4,H1002797,11/01/21,1851.0,137.0,81.0,58.0,36.8,17.0,97.0,2020-11-18 00:00:00,2020-11-20 00:00:00,Y,66.0,F,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262650,262650,H4049693,21/11/20,1832.0,NaN,NaN,NaN,36.2,40.0,NaN,2020-11-14 00:00:00,2020-11-15 00:00:00,D,0.0,M,4.235,NaN,NaN,NaN,NaN
262651,262651,H1778774,07/12/20,1650.0,NaN,NaN,NaN,36.7,NaN,NaN,2020-10-23 00:00:00,2020-10-29 00:00:00,Y,48.0,F,65.450,NaN,NaN,NaN,NaN
262652,262652,H4073700,23/02/21,1324.0,NaN,NaN,NaN,36.7,28.0,99.0,2021-02-02 00:00:00,2021-02-04 00:00:00,D,0.0,M,3.190,NaN,NaN,NaN,NaN
262653,262653,H3705405,27/01/21,1804.0,NaN,NaN,NaN,37.2,22.0,100.0,2021-02-03 00:00:00,2021-02-04 00:00:00,Y,4.0,F,17.000,NaN,NaN,NaN,NaN
262654,262654,Z1751922,19/02/21,1831.0,NaN,NaN,NaN,38.9,NaN,NaN,2021-02-20 00:00:00,2021-02-23 00:00:00,Y,2.0,F,18.000,NaN,NaN,NaN,NaN

In [4]:
df2 = pd.read_excel(
     '../MF_lact_WC_Diag.xlsx',
     engine='openpyxl', sheet_name = 'lactate'
)

In [5]:
df2

,pt_identifier,date,time,status,test_desc,result,L_H_VL_VH,ref_range,ref_range2,test,Unnamed: 10
0,H717061,26/02/21,0517,COMP,LACTATE(LACTIC ACID) VENOUS,0.26,L,0.9-2.6,mmol/L,LACTVEN,NaN
1,Z483469,11/02/21,0629,COMP,LACTATE(LACTIC ACID) VENOUS,0.28,L,0.9-2.6,mmol/L,LACTVEN,NaN
2,H1579921,28/10/20,0613,COMP,LACTATE(LACTIC ACID),0.3,L,0.5-2.2,mmol/L,LACPOC,NaN
3,H2340349,03/02/21,0327,COMP,LACTATE(LACTIC ACID),0.3,L,0.5-2.2,mmol/L,LACPOC,NaN
4,H2340349,03/02/21,0634,COMP,LACTATE(LACTIC ACID),0.3,L,0.5-2.2,mmol/L,LACPOC,NaN
...,...,...,...,...,...,...,...,...,...,...,...
23336,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23337,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23338,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23339,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23340,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
del df2["status"]
del df2["test_desc"]
del df2["test"]
del df2["Unnamed: 10"]

In [8]:
df2

      pt_identifier      date  time result L_H_VL_VH ref_range ref_range2
0           H717061  26/02/21  0517   0.26         L   0.9-2.6     mmol/L
1           Z483469  11/02/21  0629   0.28         L   0.9-2.6     mmol/L
2          H1579921  28/10/20  0613    0.3         L   0.5-2.2     mmol/L
3          H2340349  03/02/21  0327    0.3         L   0.5-2.2     mmol/L
4          H2340349  03/02/21  0634    0.3         L   0.5-2.2     mmol/L
...             ...       ...   ...    ...       ...       ...        ...
23336           NaN       NaN   NaN    NaN       NaN       NaN        NaN
23337           NaN       NaN   NaN    NaN       NaN       NaN        NaN
23338           NaN       NaN   NaN    NaN       NaN       NaN        NaN
23339           NaN       NaN   NaN    NaN       NaN       NaN        NaN
23340           NaN       NaN   NaN    NaN       NaN       NaN        NaN

[23341 rows x 7 columns]

In [22]:
df2 = df2.rename(columns = {"date": "Date", "time": "Time"})

In [17]:
df2 = df2.rename(columns = {"result":"Lactate_Value", "L_H_VL_VH":"Lactate_High_Low", "ref_range": "Lactate_Ref_Range"})

,pt_identifier,date,time,Lactate_Value,Lactate_High_Low,Lactate_Ref_Range
0,H717061,26/02/21,0517,0.26,L,0.9-2.6
1,Z483469,11/02/21,0629,0.28,L,0.9-2.6
2,H1579921,28/10/20,0613,0.3,L,0.5-2.2
3,H2340349,03/02/21,0327,0.3,L,0.5-2.2
4,H2340349,03/02/21,0634,0.3,L,0.5-2.2
...,...,...,...,...,...,...
16379,Z1163454,27/03/21,1630,> 10.0,H,0.5-2.2
16380,Z358846,31/01/21,1546,> 10.0,H,0.5-2.2
16381,Z682423,14/11/20,1415,> 10.0,H,0.5-2.2
16382,H2102217,15/03/21,2010,> 30,H,0.7-2.4
16383,H2102217,15/03/21,2217,> 30,H,0.7-2.4

In [11]:
del df2["ref_range2"]

In [12]:
df2

      pt_identifier      date  time result L_H_VL_VH ref_range
0           H717061  26/02/21  0517   0.26         L   0.9-2.6
1           Z483469  11/02/21  0629   0.28         L   0.9-2.6
2          H1579921  28/10/20  0613    0.3         L   0.5-2.2
3          H2340349  03/02/21  0327    0.3         L   0.5-2.2
4          H2340349  03/02/21  0634    0.3         L   0.5-2.2
...             ...       ...   ...    ...       ...       ...
23336           NaN       NaN   NaN    NaN       NaN       NaN
23337           NaN       NaN   NaN    NaN       NaN       NaN
23338           NaN       NaN   NaN    NaN       NaN       NaN
23339           NaN       NaN   NaN    NaN       NaN       NaN
23340           NaN       NaN   NaN    NaN       NaN       NaN

[23341 rows x 6 columns]

In [15]:
df2 = df2.drop(df2.index[16384:])

In [20]:
df2 = df2.rename(columns = {"result":"Lactate_Value", "L_H_VL_VH":"Lactate_High_Low", "ref_range": "Lactate_Ref_Range"})

In [23]:
df2

,pt_identifier,Date,Time,Lactate_Value,Lactate_High_Low,Lactate_Ref_Range
0,H717061,26/02/21,0517,0.26,L,0.9-2.6
1,Z483469,11/02/21,0629,0.28,L,0.9-2.6
2,H1579921,28/10/20,0613,0.3,L,0.5-2.2
3,H2340349,03/02/21,0327,0.3,L,0.5-2.2
4,H2340349,03/02/21,0634,0.3,L,0.5-2.2
...,...,...,...,...,...,...
16379,Z1163454,27/03/21,1630,> 10.0,H,0.5-2.2
16380,Z358846,31/01/21,1546,> 10.0,H,0.5-2.2
16381,Z682423,14/11/20,1415,> 10.0,H,0.5-2.2
16382,H2102217,15/03/21,2010,> 30,H,0.7-2.4
16383,H2102217,15/03/21,2217,> 30,H,0.7-2.4

In [24]:
df1["Lactate_Value"] = np.nan
df1["Lactate_High_Low"] = np.nan
df1["Lactate_Ref_Range"] = np.nan

In [28]:
df1_df2 = df1.append(df2, sort=False, ignore_index=True)

In [29]:
df1_df2

,Unnamed: 0,pt_identifier,Date,Time,BP1,BP2,Pulse,Temp,RR,O2Sat,...,Age_Number,Gender,Weight,Diag_Code,Diag_desc,Diag_prefix,Diag_type,Lactate_Value,Lactate_High_Low,Lactate_Ref_Range
0,0.0,H1000412,31/12/20,2359.0,116.0,84.0,88.0,36.9,17.0,97.0,...,81.0,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,H1000412,01/01/21,351.0,126.0,64.0,69.0,37.0,10.0,94.0,...,81.0,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.0,H1002797,08/12/20,1725.0,147.0,91.0,63.0,NaN,18.0,97.0,...,66.0,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.0,H1002797,11/01/21,1635.0,140.0,82.0,57.0,36.8,18.0,98.0,...,66.0,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4.0,H1002797,11/01/21,1851.0,137.0,81.0,58.0,36.8,17.0,97.0,...,66.0,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279034,NaN,Z1163454,27/03/21,1630,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,> 10.0,H,0.5-2.2
279035,NaN,Z358846,31/01/21,1546,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,> 10.0,H,0.5-2.2
279036,NaN,Z682423,14/11/20,1415,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,> 10.0,H,0.5-2.2
279037,NaN,H2102217,15/03/21,2010,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,> 30,H,0.7-2.4
279038,NaN,H2102217,15/03/21,2217,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,> 30,H,0.7-2.4

In [33]:
del df1_df2["Unnamed: 0"]

In [34]:
df1_df2

,pt_identifier,Date,Time,BP1,BP2,Pulse,Temp,RR,O2Sat,Admission_Date,...,Age_Number,Gender,Weight,Diag_Code,Diag_desc,Diag_prefix,Diag_type,Lactate_Value,Lactate_High_Low,Lactate_Ref_Range
0,H1000412,31/12/20,2359.0,116.0,84.0,88.0,36.9,17.0,97.0,2020-12-31 00:00:00,...,81.0,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,H1000412,01/01/21,351.0,126.0,64.0,69.0,37.0,10.0,94.0,2020-12-31 00:00:00,...,81.0,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,H1002797,08/12/20,1725.0,147.0,91.0,63.0,NaN,18.0,97.0,2020-11-18 00:00:00,...,66.0,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,H1002797,11/01/21,1635.0,140.0,82.0,57.0,36.8,18.0,98.0,2020-11-18 00:00:00,...,66.0,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,H1002797,11/01/21,1851.0,137.0,81.0,58.0,36.8,17.0,97.0,2020-11-18 00:00:00,...,66.0,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279034,Z1163454,27/03/21,1630,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,> 10.0,H,0.5-2.2
279035,Z358846,31/01/21,1546,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,> 10.0,H,0.5-2.2
279036,Z682423,14/11/20,1415,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,> 10.0,H,0.5-2.2
279037,H2102217,15/03/21,2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,> 30,H,0.7-2.4
279038,H2102217,15/03/21,2217,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,> 30,H,0.7-2.4

In [56]:
df1_df2.to_csv('vitals_info_lactate.csv')